{% extends 'common/layout.html.j2' %}

{% block content %}
        <input type="hidden" id="post-action-url" name="post-action-url" value="/servers/servers.html">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <table class="table">
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Active</th>
              <th>Staff</th>
              <th>Controls</th>
            </tr>
            {% for u in users %}
            <tr>
              <td>{{ u.username }}</td>
              <td>{{ u.first_name }} {{ u.last_name }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.is_active }}</td>
              <td>{{ u.is_staff }}</td>
              <td>{% if user.pk != u.pk %}
                  {% if u.is_active %}
                  <button type="button" class="btn btn-danger btn-xs object-action-button" object-id="{{ u.pk }}" object-name="{{ u.username }}" object-type="user" object-action="deactivate" action-method="PATCH" post-action-url="/user/events.html" action-data='{"is_active": false}'>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> deactivate
                  </button>
                  {% else %}
                  <button type="button" class="btn btn-success btn-xs object-action-button" object-id="{{ u.pk }}" object-name="{{ u.username }}" object-type="user" object-action="activate" action-method="PATCH" post-action-url="/user/events.html" action-data='{"is_active": true}'>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> activate
                  </button>
                  {% endif %}
                  {% if u.is_staff %}
                  <button type="button" class="btn btn-warning btn-xs object-action-button" object-id="{{ u.pk }}" object-name="{{ u.username }}" object-type="user" object-action="destaff" action-method="PATCH" post-action-url="/user/events.html" action-data='{"is_staff": false}'>
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> destaff
                  </button>
                  {% else %}
                  <button type="button" class="btn btn-warning btn-xs object-action-button" object-id="{{ u.pk }}" object-name="{{ u.username }}" object-type="user" object-action="staff" action-method="PATCH" post-action-url="/user/events.html" action-data='{"is_staff": true}'>
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> staff
                  </button>
                  {% endif %}
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
{% endblock %}
