{% extends 'webui/users/layout.html.j2' %}

{% block content %}
          <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <table class="table">
              <tr>
                <td><a href="http://gravatar.com" target="_blank">Gravatar</a></td>
                <td><img src="/tools/gravatar?size=250">
              </tr>
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
              </tr>
            </table>
          </div>
{% endblock %}
