{% extends 'webui/users/layout.html.j2' %}

{% block content %}
          <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <div class="modal fade" tabindex="-1" role="dialog" id="sshkey-create-form-modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add SSH key</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      <form method="post" id="new-sshkey-form" onsubmit="return false;">
                        <div class="form-group">
                          <textarea name="key" id="key" style="width:100%;"></textarea>
                          <input type="hidden" name="user" id="user" value="{{ request.user.username }}">
                        </div>
                      </form>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary send-form" form-id="new-sshkey-form" post-action-url="/user/sshkeys.html" api-handler="ssh_authorized_keys/">Add key</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-success btn-xs modal-action-button" modal-id="sshkey-create-form-modal" modal-action="show">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New key
              </button>
            </div>
            <table class="table">
              <tr>
                <th>Key</th>
                <th>Created</th>
              </tr>
              {% for key in request.user.ssh_authorized_keys.all %}
              <tr>
                <td>{{ key|truncatechars:50 }}</td>
                <td>{{ key.timestamp }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
{% endblock %}
