{% extends 'webui/common/layout.html.j2' %}

{% block navigation %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Servers <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Locations</a></li>
          </ul>
        </div>
{% endblock %}
