{% extends 'common/layout.html.j2' %}

{% block navigation %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li{% if subview == "servers" %} class="active"{% endif %}><a href="/servers/servers.html">Servers</a></li>
            <li{% if subview == "locations" %} class="active"{% endif %}><a href="/servers/locations.html">Locations</a></li>
          </ul>
        </div>
{% endblock %}
