{% extends 'webui/servers/layout.html.j2' %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="modal fade" tabindex="-1" role="dialog" id="location-create-form-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">New location</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <form method="post" id="new-location-form" onsubmit="return false;">
                      <div class="form-group">
                        <table class="table">
                          <tr>
                            <td>
                              <label for="server">Location name</label>
                            </td>
                            <td>
                              <input type="text" name="name" id="name">
                              <div class="help-block">Location name</div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary send-form" form-id="new-location-form" post-action-url="/servers/locations.html" api-handler="locations/">Create location</button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-success btn-xs modal-action-button" modal-id="location-create-form-modal" modal-action="show">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              New location
            </button>
          </div>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Queue name</th>
              <th>Actions</th>
            </tr>
            {% for location in locations %}
            <tr>
              <td><a href="/servers/index.html?location={{ location }}">{{ location }}</a></td>
              <td>{{ location.queue_name }}</td>
              <td>
                <button type="button" class="btn btn-danger btn-xs object-action-button" object-id="{{ location.pk }}" object-name="{{ location.name }}" object-type="location" object-action="delete" action-method="DELETE" post-action-url="/servers/locations.html">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
{% endblock %}
