{% extends 'webui/servers/layout.html.j2' %}

{% block content %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
              <div class="col-md-12">
                <div class="clearfix">
                  <h3>{{ server.fqdn }}</h3> @ <span>{{ server.location }}</span>
                </div>
              </div>
            </div>
            <p>
              <a href="ssh://{{ server.fqdn }}" class="btn btn-success" target="_blank">
                <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                SSH
              </a>
              {% if request.user.is_staff %}
                {% if server.ipmi_host and server.ipmi_browser_proto %}
                  {% if server.ipmi_username and server.ipmi_password %}
                <form class="inline-block" action="{{ server.link_ipmi_login_web }}" method="post" target="_blank">
                  <input type="hidden" name="name" value="{{ server.ipmi_username }}">
                  <input type="hidden" name="pwd" value="{{ server.ipmi_password }}">
                  <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                    IPMI
                  </button>
                </form>
                  {% else %}
              <a href="{{ server.link_ipmi_web }}" class="btn btn-info" target="_blank">
                <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                IPMI
              </a>
                  {% endif %}
                {% endif %}
              {% endif %}
              <a href="{{ server.link_api }}" class="btn btn-default" target="_blank">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                JSON data
              </a>
            </p>
            <table class="table">
              <tr>
                <th>Interface name</th>
                <th>MAC address</th>
              </tr>
              {% for interface in server.interfaces.all %}
              <tr>
                <td>{{ interface.name }}</td>
                <td>{{ interface.mac }}</td>
              </tr>
              {% endfor %}
          </div>
{% endblock %}
