{% extends 'webui/servers/layout.html.j2' %}

{% block content %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
              <div class="col-md-12">
                <div class="clearfix">
                  <h3>{{ server.fqdn }}</h3> @ <span>{{ server.location }}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <form class="form-inline" action="{{ server.link_ipmi_login_web }}" method="post" target="_blank">
                  <a href="ssh://{{ server.fqdn }}" class="btn btn-success" target="_blank">
                    <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
                    SSH
                  </a>
                  {% if request.user.is_staff %}
                  <a href="{{ server.link_ipmi_web }}" class="btn btn-info" target="_blank">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    IPMI
                  </a>
                  {% endif %}
                  <a href="{{ server.link_api }}" class="btn btn-default" target="_blank">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    JSON data
                  </a>
                </form>
              </div>
            </div>
            <table class="table">
              <tr>
                <th>Interface name</th>
                <th>MAC address</th>
              </tr>
              {% for interface in server.interfaces.all %}
              <tr>
                <td>{{ interface.name }}</td>
                <td>{{ interface.mac }}</td>
              </tr>
              {% endfor %}
          </div>
{% endblock %}
