{% extends 'webui/deployments/layout.html.j2' %}

{% block content %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3>{{ deployment.profile }} @ {{ deployment.server }}</h3>
            <div>
              <div class="progress">
                <div class="progress-bar {{ deployment.progress_class_css }}" role="progressbar" aria-valuenow="{{ deployment.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ deployment.progress }}%">
                  <span class="sr-only">{{ deployment.progress }}% Complete</span>
                </div>
              </div>
            </div>
            <div>
              <div>Status: {{ deployment.status }}</div>
              <div>Profile: <a href="{{ deployment.profile.link_webui }}">{{ deployment.profile }}</a></div>
              <div>Server: <a href="{{ deployment.server.link_webui }}">{{ deployment.server }}</a></div>
              <p>
                <table class="table">
                  {% for entry in deployment.logs.all %}
                  <tr class="{{ entry.color_class_css }}">
                    <td class="col-md-2">{{ entry.timestamp }}</td>
                    <td class="col-md-1">{{ entry.level }}</td>
                    <td class="col-md-6">{{ entry.message }}</td>
                  </tr>
                  {% endfor %}
              </p>
            </div>
          </div>
{% endblock %}
