{% extends 'webui/deployments/layout.html.j2' %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if request.user.is_staff %}
          <div class="modal fade" tabindex="-1" role="dialog" id="deployment-create-form-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Create deployment</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <form method="post" id="new-deployment-form" onsubmit="return false;">
                      <div class="form-group">
                        <table class="table">
                          <tr>
                            <td>
                              <label for="server">Server</label>
                            </td>
                            <td>
                              <select name="server" id="server-field">
                                {% for server in servers %}
                                <option value="{{ server.fqdn }}">{{ server }}</option>
                                {% endfor %}
                              </select>
                              <div class="help-block">Server to setup deployment on</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label for="profile">Profile</label>
                            </td>
                            <td>
                              <select name="profile" id="profile-field">
                                {% for profile in profiles %}
                                <option value="{{ profile.pk }}">{{ profile }}</option>
                                {% endfor %}
                              </select>
                              <div class="help-block">Profile to use</div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </form>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary send-form" form-id="new-deployment-form" post-action-url="/deployments/deployments.html" api-handler="deployments/">Create deployment</button>
                </div>
              </div>
            </div>
          </div>
          <p>
            <button class="btn btn-success btn-xs modal-action-button" modal-id="deployment-create-form-modal" modal-action="show">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Create deployment
            </button>
          </p>
          {% endif %}
          <table class="table">
            <tr>
              <th>Server</th>
              <th>Profile</th>
              <th>Status</th>
              <th>Progress</th>
              {% if request.user.is_staff %}<th>Controls</th>{% endif %}
            </tr>
            {% for deployment in deployments %}
            <tr class="{{ deployment.color_class_css }}">
              <td><a href="{{ deployment.link_webui }}">{{ deployment.server }}</a></td>
              <td>{{ deployment.profile }}</td>
              <td>{{ deployment.status }}</td>
              <td>
                <div class="progress">
                  <div class="progress-bar {{ deployment.progress_class_css }}" role="progressbar" aria-valuenow="{{ deployment.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ deployment.progress }}%">
                    <span class="sr-only">{{ deployment.progress }}% Complete (success)</span>
                  </div>
                </div>
              </td>
              {% if request.user.is_staff %}
              <td>
                <button type="button" class="btn btn-danger btn-xs object-action-button" object-id="{{ deployment.pk }}" object-name="{{ deployment }}" object-type="deployment" object-action="delete" action-method="DELETE" post-action-url="/deployments/deployments.html">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
                </button>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
          <div class="page-navigation">
            {% if deployments.has_other_pages %}
            <nav aria-label="page navigation">
              <ul class="pagination">
                {% if deployments.has_previous %}
                <li>
                  <a href="/deployments/deployments.html?page={{ deployments.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                {% for page in deployments.paginator.page_range %}
                <li{% if page == deployments.number %} class="active"{% endif %}><a href="/deployments/deployments.html?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if deployments.has_next %}
                <li>
                  <a href="/deployments/deployments.html?page={{ deployments.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% else %}
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
              <li class="active"><a href="/deployments/deployments.html?page=1">1</a></li>
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span>
            </ul>
            {% endif %}
          </div>
        </div>
{% endblock %}
