{% extends 'webui/deployments/layout.html.j2' %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if request.user.is_staff %}
          <div class="modal fade" tabindex="-1" role="dialog" id="profile-add-form-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Add profile</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <form method="post" enctype="multipart/form-data" onsubmit="return false;">
                      {% csrf_token %}
                      <table class="table">
                        <tr>
                          <td>
                            <label for="profile">Profile YAML file</label>
                          </td>
                          <td>
                            <input type="file" id="profile" name="profile">
                            <div class="help-block">Profile will be linted and added automatically</div>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary upload-profile-button">Add profile</button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-success btn-xs modal-action-button" modal-id="profile-add-form-modal" modal-action="show">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              New profile
            </button>
          </div>
          {% endif %}
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Version</th>
              {% if request.user.is_staff %}<th>Controls</th>{% endif %}
            </tr>
            {% for profile in profiles %}
            <tr>
              <td><a href="{{ profile.link_webui }}">{{ profile.name }}</a></td>
              <td>{{ profile.version }}</td>
              {% if request.user.is_staff %}
              <td>
                {% if server.ipmi_host and server.ipmi_browser_proto %}
                <a href="{{ server.link_ipmi_web }}" class="btn btn-info btn-xs" target="_blank">
                  <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                  IPMI
                </a>
                {% endif %}
                <button type="button" class="btn btn-danger btn-xs object-action-button" object-id="{{ profile.pk }}" object-name="{{ profile.name }}" object-type="profile" object-action="delete" action-method="DELETE" post-action-url="/deployments/profiles.html">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete
                </button>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </div>
{% endblock %}
